<!-- <nav class="navbar toolbar">
    <span>
        <a class="brand" routerLink="/home">Jesus Muriel</a>

    </span>

    <span class="spacing"></span>

    <div class="right-menu-div">
        <span>
            <a class="left-menu" href="https://www.linkedin.com/in/muriel-jesus/" target="_blank">LinkedIn</a>
        </span>
        <span>
            <a class="left-menu" href="https://github.com/murieljesus" target="_blank">GitHub</a>
        </span>
        <span>
            <a class="left-menu" href="mailto:jmuriel72@gmail.com">Contact</a>
        </span>
    </div>
</nav> -->

<nav class="navbar toolbar navbar-expand-md">
    <div class="container-fluid">
        <span>
            <a class="brand" routerLink="/home">Jesus Muriel</a>

        </span>
        <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <span class="spacing"></span>
            <div class="dropdown">
                    <ul class="mobil-menu">
                        <li>
                            <a class="left-menu" href="https://www.linkedin.com/in/muriel-jesus/"
                                target="_blank">LinkedIn</a>
                        </li>
                        <li>
                            <a class="left-menu" href="https://github.com/murieljesus" target="_blank">GitHub</a>
                        </li>
                        <li>
                            <a class="left-menu" href="mailto:jmuriel72@gmail.com">Contact</a>
                        </li>
                    </ul>
            </div>
        </div>
    </div>
</nav>