<div class="container py-3">
    <div class="row row-cols-md-4 row-cols-sm-1">
      <div class="col-sm-6">
        <mat-card class="box my-1">
          <mat-card-header class="card-header">
            <mat-card-title class="header-text">Angular SPA</mat-card-title>
          </mat-card-header>
          <mat-card-content class="header-text">
            <p> 
            This personal project developed in Angular is a single-page application that incorporates Angular Material.
            </p>
          </mat-card-content>
          <mat-card-actions class="card-buttons">
           <a href="https://agitated-ritchie-1b0313.netlify.app/home"target="_blank"> <button mat-button class="material-button" >GO TO</button></a>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-sm-6 my-1">
        <mat-card class="box">
          <mat-card-header class="card-header">
            <mat-card-title class="header-text">Simple Web Page</mat-card-title>
          </mat-card-header>
          <mat-card-content class="header-text">
            <p>
              A simple website using Bootstrap HTML and CSS, utilizing the distinct components offered by Bootstrap 
            </p>
          </mat-card-content>
          <mat-card-actions>
            <a href="https://murieljesus.github.io/Bootstrap4/" target="_blank"><button mat-button>TRY</button></a>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-sm-6 my-1">
        <mat-card class="box">
          <mat-card-header class="card-header">
            <mat-card-title class="header-text">Laravel Website</mat-card-title>
          </mat-card-header>
          <mat-card-content class="header-text">
            <p>
              This is a web application created on Laravel PHP framework,it has a responsive interface.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <a href="https://murieljesus.github.io/Bootstrap4/" target="_blank"><button mat-button>TRY</button></a>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-sm-6 my-1">
        <mat-card class="box">
          <mat-card-header class="card-header">
            <mat-card-title class="header-text">ASP.NET Project</mat-card-title>
          </mat-card-header>
          <mat-card-content class="header-text">
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <a href="https://murieljesus.github.io/Bootstrap4/" target="_blank"><button mat-button>TRY</button></a>
          </mat-card-actions>
        </mat-card>
      </div>
      </div>
    </div>